/* This file is for your main application css. */

/* purgecss start ignore */
@import 'tailwindcss/base';

@import 'tailwindcss/components';
/* purgecss end ignore */

@import './combo.css';

@import 'tailwindcss/utilities';

@import './custom.css';

/* display progress bars when users interact */
@import '../node_modules/nprogress/nprogress.css';

/* Alerts and form errors */
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
